/* Media Queries */

/* For screens that are 1000px or less */
@media screen and (max-width: 1000px) {
    .home {
        padding-top: 2cm;
    }
    .home h1 {
        font-size: 70px; /* Lebih kecil dari ukuran default */
    }
    .home p {
        font-size: 12px; /* Menyesuaikan ukuran font */
    }
    .home .full-foto {
        height: 5cm;
        width: 100%; /* Membuat gambar lebih fleksibel */
    }
    .aboutme p {
        font-size: 12px; /* Mengurangi ukuran font */
    }
    .project {
        padding-left: 1cm;
    }
    .project h1 {
        font-size: 24px; /* Mengurangi ukuran font heading */
    }
    .project .card {
        font-size: 14px; /* Mengurangi ukuran font dalam card */
        width: 90%; /* Mengurangi lebar card */
    }
    .project .card button {
        font-size: 14px; /* Menyesuaikan ukuran button */
    }
}

/* For screens that are 825px or less */
@media screen and (max-width: 825px) {
    .home h1 {
        font-size: 40px; /* Lebih kecil */
    }
    .home p {
        font-size: 12px; /* Ukuran font lebih kecil */
    }
    .home .full-foto {
        height: 6cm; /* Mengatur ulang ukuran gambar */
        width: 100%; /* Membuat gambar lebih fleksibel */
    }
}

/* For screens that are 760px or less */
@media screen and (max-width: 760px) {
    .home h1 {
        font-size: 20px; /* Menyesuaikan ukuran font */
    }
    .home p {
        font-size: 10px; /* Ukuran font lebih kecil */
    }
    .home .full-foto {
        height: 3cm;
        width: 100%; /* Mengatur ulang lebar gambar */
    }
    .aboutme h1 {
        font-size: 22px; /* Mengurangi ukuran font heading */
    }
    .aboutme p {
        font-size: 9px; /* Menyesuaikan ukuran font */
    }
    .project h1 {
        font-size: 20px; /* Menyesuaikan ukuran font */
    }
    .project .card {
        font-size: 13px; /* Mengurangi ukuran font dalam card */
        width: 100%; /* Membuat card pas di layar */
        margin-bottom: 10px; /* Memberikan ruang antara card */
    }
    .project .card button {
        font-size: 12px; /* Ukuran font button lebih kecil */
    }
    .project p {
        font-size: 10px; /* Mengurangi ukuran font deskripsi */
    }
    .contact .contact-left input, .contact .contact-left textarea {
        width: 90%;
    }
    .connect p {
        font-size: 8px; /* Ukuran font lebih kecil */
    }
    .connect .sosmed {
        padding-top: 1cm;
        padding-bottom: 1cm;
    }
}

