@media screen and (max-width: 1000px) {
    .home{
        padding-top: 2cm;
    }
    .home h1{
        font-size: 200px;
        text-align: center;
        font-family: monospace;
        color: #00473e;
    }
    .home p{
        text-align: center;
        font-weight: bold;
        font-family: "Monaco", monospace;
        color: #00473e;
        font-size: 15px;
    }
    .home .full-foto {
        height: 5cm;
        width: auto;
        padding-top: 0.5cm;
        display: block;
        border: #ffa8ba;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;   
    }
    .home h1{
        font-size: 100px;
        text-align: center;
        font-family: monospace;
        color: #00473e;
    }
    .home p{
        text-align: center;
        font-weight: bold;
        font-family: "Monaco", monospace;
        color: #00473e;
        font-size: 14px;
    }
    .aboutme p{
        color: #f2f7f5;
        font-family: "Monaco", monospace;
        font-size: 13px;
        margin-top: 6px;
        text-align: justify;
    }
    .project{
        padding-left: 1cm;
        padding-top: 1cm;
        padding-bottom: 1cm;
        background-color: #00473e;
    }
    .project h1{
        font-size: 30px;
        color: #f2f7f5;
        font-weight: bold;
        padding-right: 5px;
        padding-left: 5px;
    }
    .project .card button{
        color: #00473e;
        font-weight: bold;
        padding: 0.5em 0.7em;
        font-size: 15px;
        background: #faae2b;
        border: 1px solid #faae2b;
        border-radius: 20%;
        transition: all .3s;
        box-shadow: 6px 6px 12px #faae2b,
                    -6px -6px 12px #faae2b;
    }
    .project .card button{
     color: #666;
     box-shadow: inset 4px 4px 12px #faae2b,
                 inset -4px -4px 12px #ffffff;
    }
    .project p{
        font-size: 12px;
        font-family: "Monaco", monospace;
        color: #f2f7f5;
        text-align: justify;
        padding-right: 10px;
    }
}

@media screen and (max-width: 825px) {
    .home{
        padding-top: 1cm;
    }
    .home h1{
        font-size: 180px;
        text-align: center;
        font-family: monospace;
        color: #00473e;
    }
    .home p{
        text-align: center;
        font-weight: bold;
        font-family: "Monaco", monospace;
        color: #00473e;
        font-size: 18px;
    }
    .home .full-foto {
        height: 7cm;
        width: auto;
        padding-top: 0.5cm;
        display: block;
        border: #ffa8ba;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;   
    }
}

@media screen and (max-width: 760px) {
    .home h1{
        font-size: 80px;
        text-align: center;
        font-family: monospace;
        color: #00473e;
    }
    .home p{
        text-align: center;
        font-weight: bold;
        font-family: "Monaco", monospace;
        color: #00473e;
        font-size: 10px;
    }
    .home .full-foto {
        height: 3cm;
        width: 9cm;
        padding-top: 0.5cm;
        display: block;
        border: #ffa8ba;
        border-radius: 10px;
        overflow: hidden;  
    }
    .aboutme {
        background-color: #00473e;
        padding-left: 0.8cm;
        padding-top: 1cm;
    }
    .aboutme h1{
        font-size: 27px;
        font-weight: bold;
        color: #f2f7f5;
    }
    .aboutme p{
        color: #f2f7f5;
        font-family: "Monaco", monospace;
        font-size: 10px;
        margin-top: 10px;
        text-align: justify;
    }
    .project{
        padding-left: 0.5cm;
        padding-top: 1cm;
        padding-bottom: 1cm;
        background-color: #00473e;
    }
    .project h1{
        font-size: 26px;
        color: #f2f7f5;
        font-weight: bold;
        padding-right: 10px;
    }
    .project .card{
        font-family: "Monaco", monospace;
        color: #00473e;
        background-color: aliceblue;
        padding-left: 0.5cm;
        padding-right: 1cm;
        font-size: 15px;
    }
    .project .card-text{
        color: #00473e;
    }
    .project .card button{
        color: #00473e;
        font-weight: bold;
        padding: 0.3em 0.6em;
        font-size: 12px;
        background: #faae2b;
        border: 1px solid #faae2b;
        border-radius: 20%;
        transition: all .3s;
        box-shadow: 6px 6px 12px #faae2b,
                    -6px -6px 12px #faae2b;
    }
    .project .card button{
     color: #666;
     box-shadow: inset 4px 4px 12px #faae2b,
                 inset -4px -4px 12px #ffffff;
    }
    .project p{
        font-size: 12px;
        font-family: "Monaco", monospace;
        color: #f2f7f5;
        text-align: justify;
        padding-right: 10px;
    }
    .project .row {
        flex-direction: row;
    }
    .project .col-3, .col-8 {
        flex: 0 0 92%; /* Lebar 100% untuk elemen ini */
    }
    .contact{
        background-color: #ffa8ba;
        padding-top: 1cm;
        padding-bottom: 2cm;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 3ram;
    }
    .contact h1{
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        padding-bottom: 10px;
    }
    .contact .contact-left{
        padding-left: 1cm;
    }
    .contact .contact-left input, textarea{
        width: 90%;
        padding: .75rem 1.7rem;
        font-family: "Monaco", monospace;
        background: #f2f7f5 ;
        border: 1px solid #00473e;
        border-radius: 7px;
        resize: none;
    }
    .contact .contact-left .btn-submit{
        color: #00473e;
        font-weight: bold;
        padding: 0.7em 1.6em;
        font-size: 15px;
        background: #faae2b;
        border: 1px solid #faae2b;
        border-radius: 20%;
        transition: all .3s;
        box-shadow: 6px 6px 12px #faae2b,
                    -6px -6px 12px #faae2b;
    }
    .contact .contact-left .btn-submit{
     color: #666;
     box-shadow: inset 4px 4px 12px #faae2b,
                 inset -4px -4px 12px #ffffff;
    }
    .connect p{
        padding-top: 1cm;
        font-size: 8px;
        text-align: center;
        font-family: "Monaco", monospace;
    }
    .connect .sosmed{
        padding-top: 1cm;
        padding-bottom: 1cm;
    }

}
