* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #f2f7f5;
    padding-top: 20px;
}

.nav-link {
    color: #00473e;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Monaco", monospace;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: #f2f7f5;
    background-color: #00473e;
}
.home {
    background-color: #f2f7f5;
}
.home h1{
    font-size: 200px;
    text-align: center;
    font-family: monospace;
    color: #00473e;
}
.home p{
    text-align: center;
    font-weight: bold;
    font-family: "Monaco", monospace;
    color: #00473e;
    font-size: 18px;
}
.home .fotohome{
    height: 10cm;
    width: 20cm;
    padding-left: 15px;
    padding-right: 15px;
}